body .dual-chart-container .chart-container {
  width: 50%;
  float: left;
}
body .dual-chart-container .chart-container .chart-name {
  padding-left: 64px;
  font-size: 0.8vw;
  color: #616161;
  float: left;
  position: absolute;
}
body .dual-chart-container .chart-container .temperature-chart .ct-series-a .ct-point {
  stroke: #3f51b5 !important;
}
body .dual-chart-container .chart-container .temperature-chart .ct-series-a .ct-line {
  stroke: #757de8 !important;
}
body .dual-chart-container .chart-container .humidity-chart .ct-series-a .ct-point {
  stroke: #ffa000 !important;
}
body .dual-chart-container .chart-container .humidity-chart .ct-series-a .ct-line {
  stroke: #ffd149 !important;
}
body .dual-chart-container .chart-container .ct-chart .ct-grid {
  stroke: rgba(0, 0, 0, 0.4) !important;
}
body .dual-chart-container .chart-container .ct-chart .ct-label {
  color: rgba(0, 0, 0, 0.8) !important;
}