@import "_cd.less";

body { 
    .dual-chart-container {
        .chart-container {
            width: 50%;
            float: left;

            .chart-name {
                padding-left: 64px;
                font-size: 0.8vw;
                color: @materialSecondary;
                float: left;
                position: absolute;
            }

            .temperature-chart {
                .ct-series-a .ct-point {
                    stroke: @tempPoint !important;
                }

                .ct-series-a .ct-line {
                    stroke: @tempLine !important;
                }
            }

            .humidity-chart {
                .ct-series-a .ct-point {
                    stroke: @humidPoint !important;
                }

                .ct-series-a .ct-line {
                    stroke: @humudLine !important;
                }
            }

            .ct-chart {


                .ct-grid {
                    stroke: rgba(0, 0, 0, 0.4) !important;
                }

                .ct-label {
                    color: rgba(0, 0, 0, 0.8) !important;
                }
            }
        }
    }
}
